<%
  sizes = [
    {
      title: 'small',
      explanation: 'up to 50 Square Feet...',
      description: 'Our small storage units are up to 50 sq. ft. in size and is the equivalent of holding enough items that would fit in a studio to 1 bed. Belongings that can fit includes a full/queen mattress set, sofa and dining room set, plus a few boxes and smaller items.'
    },
    {
      title: 'medium',
      explanation: 'up to 150 Square Feet...',
      description: 'Organizing items in our medium units is similar to packing a 1 - 2-bedroom apartment. Holds typical household items and furniture, plus appliances, with room for boxes and extras.'
    },
    {
      title: 'large',
      explanation: 'up to 300 Square Feet...',
      description: 'A large unit accommodates items that are comparable to a 3 - 4-bedroom home. At this capacity units can hold bedroom sets, appliances, dining/living sets and office furniture.'
    },
    {
      title: 'x-large',
      explanation: 'over 300+ Square Feet...',
      description: 'Our premium sized units are custom sizes mostly for our commercial customers who have a lot of equipment or to excess inventory.'
    }
  ]
%>

<div class="select_size_and_sizing_guide hidden-md-down">
  <div class="select_size">
    <h3 class="blue_heading">Select size</h3>
    <p>Treasure Island Storage units are in accordance to industry standard sizes. The dimensions are displayed  with width, depth, and if noted, height.</p>

    <div class="size_options">
      <div class="size_option">
        <div class="size">All Units</div>
      </div>
      <% sizes.each do |size| %>
        <div class="size_option">
          <div class="size"><%= size[:title] %></div>
          <div class="description"><%= size[:explanation] %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="sizing_guide">
    <%= react_component('SizingGuidePreview') %>
  </div>
</div>

<div class="unit_options hidden-sm-down">
  <div class="row table_head">
    <div class="col-xs-2">Size</div>
    <div class="col-xs-3">Features</div>
    <div class="col-xs-2">Monthly price</div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3"></div>
  </div>
  <%= render(partial: @storage_units) %>
</div>
