<main id="storage_solutions_page">
  <%= 
    render partial: './static_pages/layout', locals: { 
      title: 'Art Storage',
      description: "Click Here To Visit TI Art Studios: <a target='_blank' href='http://www.tiartstudios.com'>tiartstudios.com</a>",
      heading: 'art'
    }
  %>
</main>