<main id="storage_solutions_page">
  <%= 
    render partial: './static_pages/layout', locals: { 
      title: 'Art Storage',
      description: "Click Here To Visit TI Art Studios: <a target='_blank' href='http://www.tiartstudios.com'>tiartstudios.com</a>",
      heading: 'art'
    }
  %>
</main>

<%= content_for :title_tag, 'TI Art Studios | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'TI Art Studios provide more than 150 New York City visual artists with excellent studio space. Visit our website to learn more!' %>
