<main id="storage_solutions_page">
  <%= 
    render partial: './static_pages/layout', locals: { 
      title: 'Storage Solutions',
      description: :all_storages,
      heading: 'index'
    }
  %>
</main>