<main id="storage_solutions_page">
  <%= 
    render partial: './static_pages/layout', locals: { 
      title: 'Storage Solutions',
      description: :all_storages,
      heading: 'index'
    }
  %>
</main>

<%= content_for :title_tag, 'Storage Solutions | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'Treasure Island Storage has the storage solutions you are looking for. Visit our website to learn more about our services.' %>
