<%= 
  render partial: './static_pages/storage_solutions/layout', locals: { 
    title: 'Wine Storage',
    description: "
      Wine Storage at Treasure Island Storage:

      <ul>
        <li>State-of-the-art security system</li>
        <li>Climate-controlled for optimal wine cellar conditions</li>
        <li>Instant online access to your inventory and order requests</li>
        <li>Easy walk-in access</li>
        <li>Pickup and delivery services</li>
        <li>No case minimum requirements</li>
      </ul>
    ",
    heading: 'wine'
  }
%>
