<div class="row flex-items-xs-middle unit">
  <div class="col-md-3 col-xs-4 size_and_location">
    <div class="size">
      <div class="word">SMALL</div>
      <div class="number">4 x 4</div>
    </div>
    <div class="location">
      <span class="pin">
        <%= image_tag 'common_elements/location_pin.svg' %>
      </span>
      <span class="address">183 Lorraine Street</span>
    </div>
  </div>

  <div class="col-md-3 col-xs-4 first_month_price">
    <div class="black">First Month</div>
    <div class="blue">FREE</div>
  </div>

  <div class="col-md-3 col-xs-4 online_rate">
    <div class="black">Online Rate</div>
    <div class="blue">$38</div>
  </div>

  <div class="col-md-3 continue">
    <div class="button blue">Continue</div>
  </div>
</div>