<main id="contact_page">
  <section class="contact_us">
    <h1>CONTACT US</h1>

    <div class="phone heading_font">
      646.846.9449
    </div>

    <div class="reserve_now">
      Reserve Now and get your first month free!
    </div>
  </section>

  <section class="contact_form">
    <div class="left_image"></div>
    <form class="right_form">

      <fieldset class="common">
        <input type="text"  name="name"  placeholder="Name*" class="name">
        <input type="email" name="email" placeholder="Email*" class="email">
        <input type="text"  name="phone" placeholder="Phone Number" class="phone">

        <div class="is_current_customer">
          <label>Are you a current customer? *</label>
          <label class="custom-control custom-radio">
            <input name="is_current_customer" type="radio" class="custom-control-input" name="yes">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Yes</span>
          </label>
          <label class="custom-control custom-radio">
            <input name="is_current_customer" type="radio" class="custom-control-input" name="no">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No</span>
          </label>
        </div>
      </fieldset>

      <fieldset class="is_current_customer_yes">
        <div class="question">
          <label>Where do you store with us?</label>
          <select class="custom-select">
            <option selected>PATERSON</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        
        <textarea name="message"></textarea>
      </fieldset>

      <fieldset class="is_current_customer_no">
        <div class="question">
          <label>How did you hear about us?</label>
          <select class="custom-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        

        <textarea name="message"></textarea>
      </fieldset>
    </form>
  </section>
</main>
