<main id="contact_page">
  <section class="contact_us">
    <h1>CONTACT US</h1>

    <div class="phone heading_font">
      1-800-TI-STORAGE
    </div>

    <div class="blue_strip">
      Reserve Now and get your first month free!
    </div>
  </section>

  <section class="contact_form">
    <div class="left_image"></div>

    <%= react_component('StaticPages_Contact_ContactForm', { storages: @all_storages }) %>
  </section>
</main>

<%= content_for :title_tag, 'Contact Us | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'We are committed to providing the best self storage experience. Contact Treasure Island Storage today to learn how we are dedicated to your satisfaction.' %>
