<section id="home_page">
  
  <section class="find_storage">
    <div class="container-fluid">
      <h6>Stress-free storage</h6>
      <div class="find_storage_rectangle">
        <h4>Find Storage in Your Area</h4>
        <form class="form-inline">
          <div class="row">
            <div class="col-xs-8">
              <input type="text" name="" placeholder="City, Zip Code" class="form-control">
            </div>
            <div class="col-xs-4">
              <a class="button search">Search</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="reserve_now">
      Reserve Now and get your first month free!
    </div>
  </section>

  <section class="recommended_locations">
  </section>
  
</section>

