#locations_show_page{
  section.extensive_information{
    margin-top: 30px;
    @import 'in_show/storage_units';
    @import 'in_show/storage_units_responsive';
    .sizing_guide_preview{ margin: 0 auto; }
    ul.tab_navigation{
      padding-left: 0;
      margin-bottom: 0;
        a{
          font-size: 15px;
          font-weight: bold;
          color: #393939;
        }
        
      
    }
    article#features, article#directions{
      ul, ol{
        padding-left: 30px;
        list-style-type: inherit;
      }
    }
    article:not(#storage_units){
      padding: 30px;
    }
  }
  section.description{
    margin-top: 30px;
    ul, ol{
      padding-left: 30px;
      list-style-type: inherit;
    }
  }
}


