#locations_show_page{
  color: #303030;

  @import 'in_show/location_view';
  @import 'in_show/location_view_responsive';

  section.extensive_information{
    @import 'in_show/storage_units';
    @import 'in_show/storage_units_responsive';
    margin-top: 30px;
    .tab_navigation{
      padding-left: 0;
      li{
        list-style-type: none;
        display: inline-block;

        background: url(image-path('locations/show/tab_passive.svg')) no-repeat;
        background-position: 0px 0px;
        width: 180px;
        text-align: center;
        a{
          &.active{ color: red }
          font-size: 15px;
          font-weight: bold;
          color: #393939;
        }
      }
    }
  }
}

