#storage_units{
  @import 'choose_size';

  .unit_options{
    text-align: center;

    padding: 0 15px; // to compensate for margin -15px on rows to create a border around them
    border: solid 1px $pinkish-grey_color;
    background-color: #e2e6ec;
    .table_head{
      background-image: linear-gradient(to bottom, #fafbfc, #f4f6f8);
      font-size: 16px;
      font-weight: bold;
      color: #6d6d6d;
      text-transform: uppercase;
      padding: 5px 0;
    }
    .row.table_row{
      padding: 12px 0;
      margin-bottom: 5px;

      background: white;
      border-top: solid 1px $pinkish-grey_color;
      border-bottom: solid 1px $pinkish-grey_color;

      display: flex;
      align-items: center;
      .size{
        text-align: center;
        .word_and_number{
          font-size: 20px;
          line-height: 21px;
          color: black;
        }
        a.size_help{
          font-size: 15px;
          font-weight: bold;
          color: #164ce0;
          border-bottom: solid 2px #164ce1;
        }
      }
      .features{
        ul{
          display: flex;
          flex-wrap: wrap;
          li{
            text-align: left;
            font-size: 15px;
            width: 50%;
            padding-left: 10px;
            img.tick_icon{ padding-right: 7px; }
          }
        }
      }
      .monthly_price{
        .price{
          font-weight: bold;
          font-size: 28px;
          font-family: Roboto;
          display: inline-block;
          position: relative;
          // instead of text-dectoration, because
          // browsers don't support text-decoration-color
          .line_through{
            position: absolute;
            top: 50%;
            width: 100%;
            border-bottom: 2px $vermillion_color solid;
          }
        }

      }
      .promotion{
        font-weight: bold;
        .red{
          font-size: 28px;
          font-family: Roboto;
          color: $vermillion_color;
        }
      }
      .continue{
        .button{
          font-size: 18px;
        }
      }
    }
  }
}