section.storage_view{
  border-radius: 7px;
  background-color: #f1f3f6;
  border: solid 1px $pinkish-grey_color;

  padding: 20px;

  .main_photo{
    text-align: center;
    img{
      max-width: 342px; max-height: 254px;
      width: 100%;
    }
  }

  .info{
    h6{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
    }
    
    a.read_reviews, a.get_directions{
      display: block;
      color: $bright-orange_color;
      font-size: 16px;
    }

    a.get_directions{
      font-size: 18px;
      margin-top: 26px;
    }

    .additional_photos{
      img{
        padding-right: 4px;
      }
    }
  }

  .map{
    iframe{
      height: 100%; width: 100%;
    }
  }
}
