section.locations{
  display: inline-block;
  text-align: left;
  .menu{
    font-size: 15px;
    position: absolute;
    z-index: 10;

    ul{
      background: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    ul.cities, ul.places{
      min-width: 140px;
      padding-top: 10px; padding-bottom: 10px;
      &> li.ui-menu-item{
        // !important because jquery-ui will try to override it:
        margin: 10px 0 !important;
        padding-left: 20px;
        &.ui-state-focus, &.ui-state-active{
          background-color: rgba(213, 224, 255, 0.95);
        }
      }
    }

    // .cities > .places > .location menu.
    ul.cities{
      font-weight: bold;
      color: $cobalt_color;
      ul.places{
        color: #353535;
        font-weight: normal;
        li.ui-menu-item{
          svg.chevron{
            margin-left: 10px; margin-top: 5px;
            float: right;
          }
          &.ui-state-focus, &.ui-state-active{
            color: $cobalt_color;
            svg.chevron path{ fill: url(#svg_red); }
          }
        }

        ul.location{
          z-index: 100;
          li.ui-menu-item{
            margin: 0 !important;
            padding: 0;
            cursor: auto;
            @import 'in_locations/storage';
          }
        }
      }
    }
  }
}
