section.storage_solutions{
  display: inline-block;
  text-align: left;
  nav{
    position: absolute;
    padding-top: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    a{
      display: block;
      padding: 5px;
    }
  }
}
