const StorageReviews = React.createClass({
  propTypes: {
    placeId: React.PropTypes.string.isRequired
  },

  getInitialState() {
    return {
      reviews: []
    };
  },

  componentDidMount() {
    this.fetchStorageReviews();
  },

  fetchStorageReviews() {
    getPlaceDetails(
      this.props.placeId,
      (place) => {
        const fiveStarReviews = place.reviews.filter((review) => review.rating == 5);
        this.setState({ reviews: fiveStarReviews });
      },
      (error) => { console.log(error) }
    )
  },

  render() {
    const reviews = this.state.reviews.map((review, index) => {
      return <div key={index} className="review">
        <div>{review.author_name}</div>
        <div>google+</div>
        <a target="_blank" href={review.author_url}>{review.author_name}</a>
        <img style={{ width: 30 }} src={review.profile_photo_url}/>
        <div>{review.rating}</div>
        <div>{review.relative_time_description}</div>
        <div>{review.relative_time_description}</div>
        <div>{review.text}</div>
      </div>
    });
    return(
      <section className="reviews">
        <%= image_tag 'common_elements/star.svg' %>
        {reviews}
      </section>
    );
  }
});