<div id="search_index_page_mobile" class="hidden-sm-up">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#list" role="tab">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#map" role="tab">Map</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="list" role="tabpanel">
      <section class="storages">
        <% 10.times do |i| %>
          <div class="storage">
            <div class="index"><%= i + 1 %></div>
            <div class="distance">
              <div class="number">1.6</div>
              <div class="mi">mi</div>
            </div>
            <div class="address_and_price">
              <div class="address">269 Gold St<br>Brooklyn, NY 11201</div>
              <div class="price">Units from $193</div>
            </div>
            <a class="arrow">
              <%= image_tag "common_elements/arrow.svg" %>
            </a>
          </div>
        <% end %>
      </section>
    </div>

    <div class="tab-pane" id="map" role="tabpanel">
      <section class="mobile_map"></section>
    </div>
  </div>

</div>