<section class="step_navigation">
  <div class="row">
    <div class="col-md-6">
      <h2>Step 1: Reserve Your Space. No Credit Card Required</h2>
    </div>

    <div class="col-md-6 steps">
      <div class="titles">
        <h5 class="active">Step 1</h5>
        <h5>Step 2</h5>
        <h5>Step 3</h5>
      </div>
      <%= image_tag 'checkout/step_1_active.png' %>
    </div>
  </div>
</section>