<aside class="your_reservation block">
  <h5 class="block_heading">Your Reservation</h5>

  <section class="storage">
    <div class="row">
      <div class="col-sm-6 image">
        <%= image_tag 'checkout/storage.jpg' %>
      </div>
      <div class="col-sm-6 description">
        <h5 class="section_heading">TI Storage</h5>
        <div class="details">
          183 Lorraine Street<br>
          Brooklyn, NY 11231<br>
          718-509-6524<br> 
          Mon-Fri 9am-11pm
        </div>
        <a class="change_something">Change Location</a>
      </div>
    </div>
  </section>

  <section class="unit">
    <h5 class="section_heading">Unit:</h5>
    <div class="size">4' x 4'</div>
    <div class="details">
      Climate Controlled Unit<br>
      Indoor, 1st Floor Access, Reduced Height, Rolling Stair Access
    </div>
    <a class="change_something">Change Unit</a>
  </section>

  <section class="monthly_rent">
    <h5 class="section_heading">Monthly Rent</h5>

    <table>
      <tbody>
        <tr>
          <td>Online only special*</td>
          <td></td>
          <td>$38.00</td>
        </tr>
        <tr>
          <td>In-Store</td>
          <td></td>
          <td>$59.00</td>
        </tr>
        <tr>
          <td>Protection Plan</td>
          <td><a class="change_something">Change Plan</a></td>
          <td>$12.99</td>
        </tr>
      </tbody>
    </table>

    <div class="footnote">
      *Subject to change. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies a lectus in dapibus. Cras auctor id erat non facilisis. Nam id elit imperdiet, lobortis sapien non, tempus quam. Fusce iaculis sed velit nec blandit.
    </div>
  </section>
</aside>