<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Transaction</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
    <tr>
      <td><%= link_to(cart.id, [:admin, cart]) %></td>
      <td><%= cart.created_at %></td>
      <td><%= cart.payment.id rescue nil %></td>
    </tr>
    <% end %>
  </tbody>
</table>
