header{
  @import 'in_header/locations';
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  .container-fluid{ border-bottom: 3px solid $vermillion_color; }

  a{
    color: $cobalt_color;
    font-size: 15px;
  }

  nav{
    text-align: right;
    padding-top: 30px; padding-bottom: 10px;
    .links{
      display: inline-block;
      a.nav_link{ padding-right: 56px; }
    }
    .live_chat, .my_account{ display: inline-block; }
    .live_chat{
      margin-right: 43px;
      color: $orange-red_color;
      cursor: pointer;
      span{
        display: inline-block;
        border-bottom: solid 2px $orange-red_color;
      }
    }
    .my_account{
      font-size: 17px;
      background: linear-gradient(to bottom, $orange-red_color, #d70000);
    }
  }

  section.storage_solutions, section.why_store_with_us{
    display: inline-block;
    text-align: left;
    nav{
      z-index: 10;
      position: absolute;
      padding-top: 0;
      padding: 10px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      a{
        display: block;
        padding: 5px;
        text-align: left;
      }
    }
  }
}
