header{
  .burger{
    padding-top: 41px;
    text-align: right;
    cursor: pointer;
  }
  #mobile_collapsing_menu{
    .modal-dialog{ 
      width: 300px;
      float: right;
    }
    .modal-content{
      background: #1c3a9a;
      padding: 15px;
      .close{
        opacity: 0.8;
        &:hover{ opacity: 1; }
      }

      nav{
        text-align: left;
        .white{
          a{
            display: block;
            border-bottom: solid 1px white;
            padding-bottom: 10px; padding-top: 12px;
            color: white;
            font-size: 21px;
            font-weight: bold;
          }
        }
        .grey{
          div, a{
            padding-left: 17px; margin-top: 15px;
            font-size: 19px;
            color: #6fa8ff;
          }
          .email_us{ padding-top: 10px; }
        }
      }
      
    }
  }

  @media (max-width: $xl){
    .logo{
      padding: 10px;
      img{ position: initial; }
    }
    nav .links a.nav_link {
      padding-right: 10px;
    }
    .container-fluid{
      padding: 0 20px !important;
    }
  }
}