#home_page{
  section{
    padding: 40px 0;
    h4.heading{
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }
  }

  section.find_storage{
    // this T-like border___
    .container-fluid{ border-top: solid 4px #4a90e2; }
    h4.first_month_free{ margin-top: -4px !important; }
    // ___this T-like border

    position: relative;
    @import 'in_home/background_slider';
    min-height: 504px;
    padding: 0;

    color: white;
    text-align: center;

    border-bottom: solid #ff0500 3px;
    h4{
      font-size: 28px;
      font-weight: bold;
      text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }

    h4.first_month_free{
      margin: 0 auto;
      max-width: 596px;
      width: 100%;
      padding: 15px 0px; padding-top: 0;
      border: solid 4px #4a90e2; border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      background-color: $cobalt_color;
    }

    .find_storage_rectangle{
      max-width: 601px;
      margin: 0 auto; margin-top: 205px;
      padding: 20px 50px;

      border-radius: 9px;
      background-image: linear-gradient(to bottom, #1e4fac, #0d2773);
      border: solid 4px #4a90e2;
      h4{ // Find Storage in Your Area
        padding-bottom: 5px;
      }
      .find_storage_input{ height: 45px; }
      .search.button{
        font-size: 20px;
        width: 100%;
      }
      .dropdown{
        .dropdown-menu{
          width: 150%;
          font-size: 17px;
          color: #212a34;
          padding-bottom: 0;
          .guessed_and_view_all{
            padding: 10px;
            border-bottom: solid 1px #d9d9d9;
            .guessed{ display: inline-block; }
            a.view_all{
              color: #656565;
              float: right;
            }
          }
          .locations{
            border-bottom: solid 1px #d9d9d9;
            a.location{
              padding: 10px;
              display: block;
              &:hover{ 
                background: rgba(213, 224, 255, 0.95);
                cursor: pointer;
              }
              .name{
                padding-right: 0;
                img{ 
                  width: 15px;
                  vertical-align: top;
                  padding-top: 5px;
                }
                span{
                  display: inline-block;
                  padding-left: 5px;
                  width: calc(100% - 20px);
                }
              }
              .comment{
                &.grey{ color: #8f8f8f; }
                &.red{ color: #ee1715; }
              }
            }
          }
          .reserve_today{
            padding: 10px;
            color: #8f8f8f;
            text-align: center;
          }
        }
      }
    }

    div.blue_strip{ height: 27px; }
  }

  section.blog_articles{
    text-align: center;
    h4{ 
      color: $cobalt_color;
    }
    .article{
      img{
        max-width: 343px; max-height: 260px;
        width: 100%;
      }
    }
    .button.read_more{
      margin-top: 40px;

      font-size: 16px;
      font-weight: bold;
      color: $cobalt_color;

      border: solid 1px $cobalt_color;
      min-width: 188px;
    }
  }

  section.featured_specials{
    background-color: #ebebeb;
    h4{ color: #1f3d9b; }
    .special{
      &.month{ text-align: right; }
      &.move{ text-align: left; }
      img{
        max-width: 250px; width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #99b0dd;
      }
    }
  }

  section.ti_storage_benefits{
    background-color: #f6f8fa;
    text-align: center;
    h4{
      color: #0d2770;
    }
    .benefit{
      position: relative;
      .name{
        color: $cobalt_color;
        font-size: 16px;
        font-weight: bold;

        padding-top: 20px;
      }
      &:hover{ p.popover{ display: block } }
      p.popover{
        display: none;
        z-index: 10;
        top: 160px;
        padding: 5px;
        text-align: center;
      }
    }
  }

  section.ti_family_of_businesses{
    margin-bottom: -30px; // to compensate for footer's default margin
    text-align: center;
    background-color: #ebebeb;
    h4{ 
      color: $cobalt_color;
    }

    img{
      max-width: 282px;
      max-height: 282px;
      width: 100%;
    }
  }
}