#home_page{
  section{
    padding: 40px 0;
    h4.heading{
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }
  }

  section.find_storage{
    min-height: 609px;
    background: image-url("static_pages/home_page/find_storage_bg.jpg");
    background-size: cover;

    position: relative; // for .reserve_now
    padding-bottom: 90px;
    padding-top: 160px;

    color: white;
    text-align: center;

    border-bottom: solid #ff0500 3px;

    h4{
      font-size: 28px;
      font-weight: bold;
      text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }

    h4.stree-free_storage{
      position: absolute;
      width: 596px;
      top: 0;
      left: 50%; transform:translateX(-50%);
      padding: 15px 0px;
      border: solid 4px #4a90e2; border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      background-color: $cobalt_color;
    }

    .find_storage_rectangle{
      max-width: 601px;
      margin: 0 auto; margin-top: 70px;
      padding: 20px 50px;

      border-radius: 9px;
      background-image: linear-gradient(to bottom, #1e4fac, #0d2773);
      border: solid 4px #4a90e2;
      h4{ // Find Storage in Your Area
        padding-bottom: 5px;
      }
      .find_storage_input{ height: 45px; }
      .search.button{
        font-size: 20px;
        width: 100%;
      }
      .dropdown{
        .dropdown-menu{
          width: 150%;
          font-size: 17px;
          color: #212a34;
          padding-bottom: 0;
          .guessed_and_view_all{
            padding: 10px;
            border-bottom: solid 1px #d9d9d9;
            .guessed{ display: inline-block; }
            a.view_all{
              color: #656565;
              float: right;
            }
          }
          .locations{
            border-bottom: solid 1px #d9d9d9;
            a.location{
              padding: 10px;
              display: block;
              &:hover{ 
                background: rgba(213, 224, 255, 0.95);
                cursor: pointer;
              }
              .name{
                padding-right: 0;
                img{ 
                  width: 15px;
                  vertical-align: top;
                  padding-top: 5px;
                }
                span{
                  display: inline-block;
                  padding-left: 5px;
                  width: calc(100% - 20px);
                }
              }
              .comment{
                &.grey{ color: #8f8f8f; }
                &.red{ color: #ee1715; }
              }
            }
          }
          .reserve_today{
            padding: 10px;
            color: #8f8f8f;
            text-align: center;
          }
        }
      }
    }

    .reserve_now{
      position: absolute;
      bottom: 0;
      width: 100%;

      opacity: 0.82;
      background-color: #4268d8;

      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;
    }
  }

  section.recommended_locations{
    border-bottom: solid #ff0500 3px;
    h4{
      color: #ff0500;
    }
  }

  section.ti_storage_benefits{
    border-bottom: solid #ff0500 3px;
    background-color: #f6f8fa;

    text-align: center;
    h4{
      color: #0d2770;
    }
    .benefit{
      .name{
        color: $cobalt_color;
        font-size: 16px;
        font-weight: bold;

        padding-top: 20px;
      }
    }
  }

  section.blog_articles{
    text-align: center;
    h4{ 
      color: $cobalt_color;
    }
    .article{
      img{
        max-width: 343px; max-height: 260px;
        width: 100%;
      }
    }
    .button.read_more{
      margin-top: 40px;

      font-size: 16px;
      font-weight: bold;
      color: $cobalt_color;

      border: solid 1px $cobalt_color;
      min-width: 188px;
    }
  }

  section.ti_family_of_businesses{
    margin-bottom: -30px; // to compensate for footer's default margin
    text-align: center;
    background-color: #ebebeb;
    h4{ 
      color: $cobalt_color;
    }

    img{
      max-width: 282px;
      max-height: 282px;
      width: 100%;
    }
  }
}