#home_page{
  section{
    padding: 40px 0;
    h4.heading{
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }
  }

  section.find_storage{
    background: image-url("static_pages/home_page/find_storage_bg.svg");
    background-size: cover;

    position: relative; // for .reserve_now
    height: 502px;
    padding-top: 160px;

    color: white;
    text-align: center;

    border-bottom: solid #ff0500 3px;
    h6{
      padding-bottom: 30px;

      font-family: Bebas; //TODO: add this font
      font-size: 62px;
      font-weight: normal;
      text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
    }

    .find_storage_rectangle{
      width: 601px; height: 124px;
      margin: 30px auto;
      padding: 0 50px;

      border-radius: 6px;
      background-image: linear-gradient(to bottom, #1e4fac, #0d2773);
      border: solid 4px #4a90e2;
      h4{
        font-size: 28px;
        font-weight: bold;
        padding-top: 10px; padding-bottom: 10px;
      }
      form{
        .search.button{
          font-size: 20px;
          padding-right: 33px; padding-left: 33px; 
        }
      }
    }

    .reserve_now{
      position: absolute;
      bottom: 0;
      width: 100%;

      opacity: 0.82;
      background-color: #4268d8;

      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;
    }
  }

  section.recommended_locations{
    border-bottom: solid #ff0500 3px;
    h4{
      color: #ff0500;
    }
    .location_preview{
      &.first{
        float: right;
      }
      &.last{
        float: left;
      }
    }
  }

  section.ti_storage_benefits{
    border-bottom: solid #ff0500 3px;
    background-color: #f6f8fa;

    text-align: center;
    h4{
      color: #0d2770;
    }
    .benefit{
      .name{
        color: $cobalt_color;
        font-size: 16px;
        font-weight: bold;

        padding-top: 20px;
      }
    }
  }

  section.blog_articles{
    text-align: center;
    h4{ 
      color: $cobalt_color;
    }
    .article{
      img{
        max-width: 343px;
        max-height: 260px;
      }
    }
    .button.read_more{
      margin-top: 40px;

      font-size: 16px;
      font-weight: bold;
      color: $cobalt_color;

      border: solid 1px $cobalt_color;
      min-width: 188px;
    }
  }

  section.ti_family_of_businesses{
    text-align: center;
    background-color: #ebebeb;
    h4{ 
      color: $cobalt_color;
    }

    img{
      max-width: 282px;
      max-height: 282px;
    }
  }
}