#home_page{
  @media (max-width: $xl){
    section.find_storage{
      h6{
        font-size: 40px;
      }
    }
    section.recommended_locations{
      .storage_preview{
        margin: 0 auto;
        &.float-lg-right{ margin-bottom: 30px; }
      }
    }
    section.blog_articles{
      .article{ margin-bottom: 50px; }
    }
    section.ti_family_of_businesses{
      .business{
        margin-bottom: 30px;
      }
    }
  }
  @media (max-width: $md){
    section.find_storage{
      .button.blue{ margin-top: 15px; }
    }
  }
  @media (max-width: $lg){
    section.ti_storage_benefits{
      .benefit{
        margin-bottom: 30px;
      }
      // centering 2 lower benefits:
      .row{
        div:nth-child(4){ padding-left: 100px; }
        div:nth-child(5){ padding-right: 100px; }
      }
    }
  }
  @media (max-width: $sm){
    section.find_storage{
      .button.blue{ margin-top: 15px; }
    }
    section.ti_storage_benefits{
      .benefit{
        margin-bottom: 20px;
      }
      // uncentering 2 lower benefits:
      .row{
        div:nth-child(4){ padding-left: 0px; }
        div:nth-child(5){
          // not just .col-xs-12, because popover
          width: auto;
          margin: 0 auto;
          padding-right: 15px;
        }
      }
    }
  }
  @media (max-width: 430px){
    section.find_storage .find_storage_rectangle{
      padding-left: 20px; padding-right: 20px;
    }
  }
}