<section class="locations">
  <!-- href="#" is for styling -->
  <a href="#" class="nav_link toggler">
    Locations
  </a>

  <div class="collapse menu">

    <ul class="cities" aria-activedescendant="ui-id-5">
      <% uniq_area_titles = STORAGES.map { |storage| storage[:area_title] }.uniq %>
      <% uniq_area_titles.each do |area_title| %>
        <li><%= area_title %>
          <ul class="places">
            <% storages = STORAGES.select { |storage| storage[:area_title] == area_title } %>
            <% storages.each do |storage| %>
              <li>
                <%= storage[:title] %>
                <%= inline_svg 'common/header/right-chevron.svg', class: 'chevron' %>

                <%= render(partial: 'layouts/in_application/in_header/in_locations/storage', locals: { storage: storage }) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>
</section>