<section class="locations">
  <!-- href="#" is for styling -->
  <a href="#" class="nav_link toggler">
    Locations
  </a>

  <div class="collapse menu">

    <ul class="cities">
      <% @storage_categories.each do |category| %>
        <li><%= category %>
          <ul class="places">
            <% storages = @all_storages.where(category: category) %>
            <% storages.each do |storage| %>
              <li>
                <%= storage[:title] %>
                <%= inline_svg 'common/header/right-chevron.svg', class: 'chevron' %>

                <%= render(partial: 'layouts/in_application/in_header/in_locations/storage', locals: { storage: storage }) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>
</section>
