<section class="why_store_with_us">
  <a href="#" class="nav_link toggler">
    Why Store With Us
  </a>

  <nav class="collapse">
    <%= link_to 'FAQ', faq_path %>
    <%= link_to 'Moving Services', [:moving_services] %>
    <%= link_to 'Contact', [:contact] %>
  </nav>
</section>
