<table>
  <thead>
    <tr>
      <th>Site ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @storages.each do |storage| %>
    <tr>
      <td><%= storage.site_id %></td>
      <td><%= storage.title %></td>
      <td><%= link_to('View', [:admin, storage]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= button_to("Sync", [:sync, :admin, :storages], class: 'btn btn-primary', data: {disable_with: 'Syncing...'}) %>
