section.storage_view{
  border-radius: 7px;
  background-color: #f1f3f6;
  border: solid 1px $pinkish-grey_color;

  padding: 20px;

  .photos{
    .main_photo{
      text-align: center;
      img{
        max-height: 180px;
      }
    }
    .additional_photos{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      img{
        margin: 0 10px;
        max-height: 50px;
        cursor: pointer;
      }
    }
  }

  .info{
    h6{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
    }
    h5.title{
      margin-bottom: 20px;
      font-weight: bold;
    }
    .phone_number{ p{ margin-bottom: 4px; } }
    a.button.blue{
      min-height: 30px;
      padding-top: 2px;
      margin-top: 5px;
    }
    .storage_rating{
      margin-top: 5px;
    }
    a.read_reviews, a.get_directions{
      display: block;
      color: $bright-orange_color;
    }
    a.read_reviews{ font-size: 16px; }
    a.get_directions{ font-size: 17px; }
  }

  .map{
    padding: 8px;
    background: white;
    iframe{
      height: 100%; width: 100%;
    }
  }
}


// responsive
section.storage_view{
  @media (max-width: $lg){
    .info{ padding-top: 30px; }
    .map{ margin-top: 30px; }
  }
  @media (max-width: $md){
    .office_hours{ margin-top: 20px; }
  }
}