@import 'bootstrap-flex';
@import 'jquery-ui/menu';

@import 'fonts';
@import 'variables';

@import 'common_elements';
@import 'common_elements_responsive';

@import 'common/*';

@import 'static_pages/*';
@import 'static_pages/storage_solutions/*';
@import 'locations/*';
@import 'layouts/in_application/*';
@import 'search/*';
@import 'checkout/*';

.container-fluid{ padding: 0 90px; }
footer, header, #breadcrumbs{
  .container-fluid{ padding: 0 75px; }
}

@media (max-width: $lg){
  .container-fluid {
    padding: 0 20px;
  }
  footer, header, #breadcrumbs{
    .container-fluid{ padding: 0 20px; }
  }
}

a{ cursor: pointer; }
ul{
  padding-left: 0;
  list-style-type: none;
}
iframe{ border: 0; }

body, a{
  color: $black_color;
}