@import "bootstrap-flex";
@import 'jquery-ui/menu';

@import 'fonts';
@import 'variables';
@import 'common_elements';

@import 'common/*';

@import 'static_pages/*';
@import 'locations/*';


.container-fluid{ padding: 0 90px; }
footer, header, #breadcrumbs{
  .container-fluid{ padding: 0 75px; }
}

@media (max-width: $lg){
  .container-fluid {
    padding: 0 20px;
  }
  footer, header, #breadcrumbs{
    .container-fluid{ padding: 0 20px; }
  }
}

a{
  cursor: pointer;
}