.button{
  display: inline-block;
  min-height: 45px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px white;

  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
  padding-top: 8px;

  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.button.blue{
  background: linear-gradient(to bottom, #1f6aff 48%, $azul_color 52%);
}

// .storage_details and .storage_preview are separate,
// because sometimes we need .storage_details styling without the border and arrow and etc
.storage_details{
  .miles_away{
    .how_many{
      @extend .heading_font;
      color: black;
      font-size: 15px;
      font-weight: bold;
      padding-left: 5px;
    }
    padding-bottom: 5px;
  }
  .address{
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 16px;
  }
  .storage_rating{
    font-weight: bold;
    .number{
      font-size: 16px;
      color: #0076ff;
    }
    .amount_of_reviews{
      font-size: 14px;
      color: $bright-orange_color;
    }
  }
  a.show_all_units, a.view_in_google_maps{
    font-size: 14px;
    color: $bright-orange_color;
    font-weight: bold;
  }
}

.storage_preview{
  @extend .storage_details;
  max-width: 402px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #99b0dd;
  padding: 15px;

  background: url(image-path('common_elements/arrow.svg')) no-repeat;
  background-position: 361px 78px;

  .city{
    font-size: 16px;
    font-weight: bold;
    color: $cobalt_color;
  }

  .info{
    .photo{
      // padding-right: 0;
      img{ width: 100%; }
    }
    .details{
      padding-left: 30px;
    }
  }
}


.standard_page_heading{
  font-size: 28px;
  font-weight: normal;
  color: $light-navy_color;

  padding: 35px 0 15px 0;
}

.find_storage_input{
  border-radius: 2px;
  background-color: white;
  border: solid 1px #d1d1d1;
  height: 48px;
  padding: 15px;

  font-size: 16px;
}

// when we want it pretty
.default_markup{
  ul, ol{
    padding-left: 30px;
    list-style-type: inherit;
  }
}
