@media (max-width: $sm){
  .storage_preview{
    text-align: center;
    background: none;
    .miles_away{ padding-top: 20px; }
    .photo{
      max-width: 250px;
      margin: 20px auto 0 auto;
    }
  }
}