.button{
  display: inline-block;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px white;

  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
  padding-top: 8px;
}