<section class="search_field_and_ad">
  <div class="row">
    <div class="col-md-6 col-xs-12 search_field">
      <div class="showing_results_near">Showing Results Near:</div>

      <div class="row">
        <div class="col-sm-8">
          <input type="text" placeholder="City, Zip Code" class="find_storage_input">
        </div>
        <div class="col-sm-4">
          <div class="button search">Search</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 hidden-md-down ad">
      <%= image_tag 'common/ads/labor-sale-horizontal.png' %>
    </div>
  </div>
</section>