<div class="sizing_guide_preview" data-toggle="modal" data-target="#sizing_guide">
  <h3 class="blue_heading">Sizing guide</h3>
  <div class="images">
    <%= image_tag 'locations/in_show/storage_units/sizing_guide_ruler.svg', class: 'ruler' %>
    <%= image_tag 'locations/in_show/storage_units/sizing_guide_video_preview.jpg', class: 'video_preview' %>
  </div>
</div>

<%= render partial: 'common/sizing_guide' %>