<section class="social_icons">
  <a href="#">
    <%= inline_svg '_common/social/facebook.svg' %>
  </a>
  <a href="#">
    <%= inline_svg '_common/social/twitter.svg' %>
  </a>
  <a href="#">
    <%= inline_svg '_common/social/google-plus.svg' %>
  </a>
  <a href="#">
    <%= inline_svg '_common/social/linked-in.svg' %>
  </a>
</section>
