<div class="storage_rating">
  <span class="number">4.9</span>
  <span class="stars">
    <% 5.times do %>
      <%= image_tag 'common_elements/star.svg' %>
    <% end %>
  </span>
  <span class="amount_of_reviews">(6)</span>
</div>